html{height: 100%; width: 100%;}
::selection {
    /*background: #ddf;*/
}
body {
    font-size: 17px;
    overflow: hidden;
    color: green;
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body > section {
    position: relative;
    float: left;
    margin: auto;
    margin-top: 10%;
    height: 200px;
    text-align: center;
}

@media (min-width: 544px) {
  body > section {
    width: 100%;
    min-height: 200px;
  }
}

@media (min-width: 768px) {
  body > section {
    width: 50%;
    min-height: 200px;
  }
}

@media (min-width: 992px) {
  body > section {
    width: 25%;
    min-height: 200px;
  }
}

.color-picker {
    height: 50px;
    width: 70%;
    padding: 10px;
    font-size: 30px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,.15);
    border: #59e817 3px solid;
    border-radius: 27px;
    outline: none;
    margin: auto;
}
.noborder {
    border-width: 0px !important;
}
::-webkit-input-placeholder {
    color: #222;
    }

div.color-picker input[type='radio'] {
    display: none;
}

div.color-picker input[type='radio'] + label {
    background: #000;
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
    border: #59e817 2px solid;
    -webkit-transition: all .7s ease;
        transition: all .7s ease;
    background: rgba(0,0,0,0);
}
div.color-picker input[type='radio']#square + label {
    border-radius: 8px;
}
div.color-picker input[type='radio']#lines + label {
    border-top-width: 0px;
    border-bottom-width: 0px;
}
div.color-picker input[type='radio']#round + label {
    border-radius: 25px;
}
div.color-picker input[type='radio']:checked + label {
    background: rgba(0,255,0,.15);
}
a.config {
    color: #222;
    text-decoration: none;
}
a.config:hover {
    color: #555;
}
.animated {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; } .animated.infinite {-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; } .animated.hinge {-webkit-animation-duration: 2s; animation-duration: 2s; } @-webkit-keyframes bounceInDown {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); } 60% {opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); } 75% {-webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); } 90% {-webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); } 100% {-webkit-transform: none; transform: none; } } @keyframes bounceInDown {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); } 60% {opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); } 75% {-webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); } 90% {-webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); } 100% {-webkit-transform: none; transform: none; } } .bounceInDown {-webkit-animation-name: bounceInDown; animation-name: bounceInDown; } @-webkit-keyframes bounceInUp {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); } 60% {opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); } 75% {-webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); } 90% {-webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); } 100% {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } } @keyframes bounceInUp {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); } 60% {opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); } 75% {-webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); } 90% {-webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); } 100% {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } } .bounceInUp {-webkit-animation-name: bounceInUp; animation-name: bounceInUp; } @-webkit-keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(-3000px, 0, 0); transform: translate3d(-3000px, 0, 0); } 60% {opacity: 1; -webkit-transform: translate3d(25px, 0, 0); transform: translate3d(25px, 0, 0); } 75% {-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0); } 90% {-webkit-transform: translate3d(5px, 0, 0); transform: translate3d(5px, 0, 0); } 100% {-webkit-transform: none; transform: none; } } @keyframes bounceInLeft {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(-3000px, 0, 0); transform: translate3d(-3000px, 0, 0); } 60% {opacity: 1; -webkit-transform: translate3d(25px, 0, 0); transform: translate3d(25px, 0, 0); } 75% {-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0); } 90% {-webkit-transform: translate3d(5px, 0, 0); transform: translate3d(5px, 0, 0); } 100% {-webkit-transform: none; transform: none; } } .bounceInLeft {-webkit-animation-name: bounceInLeft; animation-name: bounceInLeft; } @-webkit-keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); } 60% {opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); } 75% {-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); } 90% {-webkit-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); } 100% {-webkit-transform: none; transform: none; } } @keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% {opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); transform: translate3d(3000px, 0, 0); } 60% {opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); transform: translate3d(-25px, 0, 0); } 75% {-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0); } 90% {-webkit-transform: translate3d(-5px, 0, 0); transform: translate3d(-5px, 0, 0); } 100% {-webkit-transform: none; transform: none; } } .bounceInRight {-webkit-animation-name: bounceInRight; animation-name: bounceInRight; } @-webkit-keyframes bounceOutDown {20% {-webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); } 40%, 45% {opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); } 100% {opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } @keyframes bounceOutDown {20% {-webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); } 40%, 45% {opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); } 100% {opacity: 0; -webkit-transform: translate3d(0, 2000px, 0); transform: translate3d(0, 2000px, 0); } } .bounceOutDown {-webkit-animation-name: bounceOutDown; animation-name: bounceOutDown; } @-webkit-keyframes bounceOutLeft {20% {opacity: 1; -webkit-transform: translate3d(20px, 0, 0); transform: translate3d(20px, 0, 0); } 100% {opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } @keyframes bounceOutLeft {20% {opacity: 1; -webkit-transform: translate3d(20px, 0, 0); transform: translate3d(20px, 0, 0); } 100% {opacity: 0; -webkit-transform: translate3d(-2000px, 0, 0); transform: translate3d(-2000px, 0, 0); } } .bounceOutLeft {-webkit-animation-name: bounceOutLeft; animation-name: bounceOutLeft; } @-webkit-keyframes bounceOutRight {20% {opacity: 1; -webkit-transform: translate3d(-20px, 0, 0); transform: translate3d(-20px, 0, 0); } 100% {opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } @keyframes bounceOutRight {20% {opacity: 1; -webkit-transform: translate3d(-20px, 0, 0); transform: translate3d(-20px, 0, 0); } 100% {opacity: 0; -webkit-transform: translate3d(2000px, 0, 0); transform: translate3d(2000px, 0, 0); } } .bounceOutRight {-webkit-animation-name: bounceOutRight; animation-name: bounceOutRight; } @-webkit-keyframes bounceOutUp {20% {-webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); } 40%, 45% {opacity: 1; -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); } 100% {opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } @keyframes bounceOutUp {20% {-webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); } 40%, 45% {opacity: 1; -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); } 100% {opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); } } .bounceOutUp {-webkit-animation-name: bounceOutUp; animation-name: bounceOutUp; }
