body {
    background: #000;
    font-size: 20px;
    /*overflow: hidden;
    position: fixed;*/
    width: 100%;
    /*font-family: 'Coda', cursive;*/
    font-family: 'Cutive Mono';
    /*font-family: monospace;*/
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 0px;
}

.clock {
	position: absolute;
	width: 50%;
	margin: auto;
	left:0; right:0;
	background: rgba(255,255,255,.05);
}

.arc {
	position: relative;
}

.arc-seconds {
	position: relative;
	width: 20%;
	float: right;
}

.arc-minutes {
	position: relative;
	width: 20%;
	float: right;
}

.arc-hours {
	position: relative;
	width: 20%;
	float: right;
}
.arc-and, .arc-secondslabel {
	position: relative;
	width: 20%;
	float: right;
	color: #555;
}
.config {
	position: fixed;
	font-size: 40px;
	color: #222;
	bottom: 10px;
	left: 15px;
	-webkit-transition: all .2s ease;
        transition: all .2s ease;
}
.config:hover {
	color: #444;
}